<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RAH iRacing Overlay</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/socket.io.min.js"></script>
    <script src="/static/js/script.js"></script>
</head>
<body>
    <div class="telemetry-container">
        <div class="telemetry-content">
            <canvas id="telemetry-graph" width="300" height="100"></canvas>
    
            <div class="telemetry-bars">
                <div id="clutch-bar" class="bar">
                    <div class="bar-fill" id="clutch-fill"></div>
                </div>
                <div id="brake-bar" class="bar">
                    <div class="bar-fill" id="brake-fill"></div>
                </div>
                <div id="throttle-bar" class="bar">
                    <div class="bar-fill" id="throttle-fill"></div>
                </div>
            </div>
    
            <div class="telemetry-right">
                <div class="gear-steering-container">
                    <div class="gear-speed-container">
                        <div id="gear-display">4</div>
                        <div id="speed-display">183 kph</div>
                    </div>
                    <img src="/static/img/steering_wheel.png" alt="Steering Wheel" id="steering-wheel" class="steering-wheel-icon">
                </div>
            </div>
        </div>
    </div>
    <div>
        <span id="leftright"></span>
    </div>
</body>
</html>